<!DOCTYPE html>

<html>

    <head>

    </head>

    <body>
        {{>header}}
        <h2>Follow me on</h2>
        <h3>Github: {{github}}</h3>
        <h3>Twitter: {{twitter}}</h3>
        {{>footer}}
    </body>
</html>