<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        {{>header}}
        <h3>{{name}}</h3>
        <form>
            <input type="text" name="search"/>
            <button type="submit">Search</button>
        </form>
        <p>The temperature in </p><p id="loc"></p>
        <p id="temp"></p>
        <p> and feels like </p><p id="fore"></p>
        {{>footer}}
    </body>
    <script src="/js/app.js"></script>
</html>